{
    "port": 5000,
    "wss": "wss://rpc.polkadot.io",
    "minFunds": 0.5,
    "accounts": [{
        "name": "<AccountName>",
        "accountID": "<AccountID>>"
    },{
        "name": "<AccountName>",
        "accountID": "<AccountID>>"
    },{
        "accountID": "<AccountID>>"
    }]
}